.idea/*


debug/*
_debug/*

mapper_tools/*
mapper_tools*

mapper_tools/ck3_to_attila_mappings.json
mapper_tools/ck3_to_attila_mappings.py
mapper_tools/culture_fixer.py
mapper_tools/faction_fixer.py
mapper_tools/faction_xml_utils.py
mapper_tools/faction_json_utils.py
mapper_tools/llm_helper.py
mapper_tools/llm_orchestrator.py
mapper_tools/mod_fixer.py
mapper_tools/processing_passes.py
mapper_tools/shared_utils.py
mapper_tools/terrain_fixer.py
mapper_tools/unit_management.py
mapper_tools/unit_selector.py

.aider*

venv/*

data/*

